<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Tahoma", sanf-serif;
      font-size: 14px;
    }

    .content,
    .footer {
      padding: 15px;
    }

    .footer {
      text-align: center;
      font-size: 10px;
      margin-top: 1em;
    }

    .wrapper {
      width: 700px;
      background-color: #f5f4e5;
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      font-family: "Georgia", serif;
      font-style: italic;
      height: 100px;
      text-align: center;
      align-items: center;
      background-color: #b4b398;
      padding-top: 30px;
    }

    .table {
      margin-top: 1em;
      table-layout: fixed;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
    }

    .table td,
    .table th {
      border-bottom: solid 1px #7d7e69;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="title">
      <h1>You've got deals</h1>
    </div>
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Rule</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
          <tr>
            <td>{{itemName}}</td>
            <td>{{ruleText}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="footer">
      View more on
      <a href="{{{ websiteLink }}}">ahscanner</a>
      <br/>
      <a href="{{{ unsubLink }}}">Unsubscribe</a>
    </div>
  </div>
  </div>
</body>

</html>