.card, .form-control, .btn, .dropdown-menu, .input-group-append>span {
  border-radius: 0;
}

.title-font {
  font-family: "Caveat", cursive;
}

.card {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.loading-td {
  text-align: center;
  font-style: italic;
}

:root {
  --palette1: #7d7e69;
  --palette2: #7d7e69;
  --palette3: #5a5844;
  --palette4: #8c8b76;
  --palette5: #070400;
}

table.table th {
  border: none;
  border-bottom: solid 1px #dee2e6;
}

#content {
  padding-left: 0px;
  padding-right: 0px;
}