body.htmlbody {
  height: 100vh;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #c8c7a9;
}

nav {
  display: flex;
  height: 120px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 60px;
}

.nav-right {
  padding: 15px;
}

#content {
  margin-top: 2em;
}

.card h3 {
  display: inline;
}

.card-header {
  background-color: rgba(245, 245, 232, 0.3);
}

.btn {
  padding-bottom: 8px;
}

tr input.fill,
tr button.fill {
  width: 100%;
}

tr input,
tr button {
  height: 40px;
}

tr td {
  min-width: 200px;
}

tr td:first-child {
  min-width: auto;
}

tr button.btn {
  text-align: right;
}

tr button > span {
  float: left;
}

button.btn.btn-outline-secondary {
  border-color: var(--bordercolor);
}

.form-control.small-input {
  width: 100px;
}

.item-searcher div.dropdown-item {
  cursor: pointer;
}

.item-searcher div.dropdown-item.selected {
  background-color: #8c8b766b;
}

.new-item-row td {
  border-bottom: none;
}

.new-item-row-2 td {
  border-top: none;
  text-align: right;
}

.new-item-row-2 td button {
  margin-left: 10px;
}

.input-group.ruledetail > label {
  padding-top: 3px;
}

.delete-btn {
  cursor: pointer;
  float: right;
}

/* shamelessly copied from csstricks */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table.responsive-block {
    display: block;

    /* Force table to not be like tables anymore */
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead tr {
      border: none;
      margin-bottom: 15px;
    }
    tbody tr {
      border: solid 1px var(--palette1);
      box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
      margin-bottom: 15px;
    }
    td {
      border: none;
      position: relative;
    }
    tr > td:first-child,
    tr > th:first-child {
      display: none;
    }
    tr.new-item-row-2 > td:first-child {
      display: block;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}

#settingsForm .form-group.row {
  flex-wrap: nowrap;
}
